<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title | lower }} : {{ .Site.Title  }}</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Rust Community Stuttgart">
    <meta name="Description" content="Official Website of the Rust Community Stuttgart Germany."/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Rust Community Stuttgart" />
    <meta property="og:type" content="site" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}/assets/rust-community-stuttgart.jpg" />
    <meta property="og:description" content="Official Website of the Rust Community Stuttgart Germany." />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#40699e">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#40699e">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="assets/css/{{ .Site.Data.config.head.css }}" rel="stylesheet">

    {{ partial "head/icons.html" . }}

</head>
<body>

    <header>
        {{ partial "header/navigation.html" . }}
    </header>
    
    <div class="container">
    
    