
<aside>
  {{ partial "aside/about.html" . }}

  <div class="categories">
      <h2>categories</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem soluta doloribus amet, quibusdam nihil minima id repudiandae, sapiente obcaecati hic rem eius totam facere debitis consequatur harum impedit est distinctio?</p>
  </div>

  <div class="tags">
      <h2>tags</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem soluta doloribus amet, quibusdam nihil minima id repudiandae, sapiente obcaecati hic rem eius totam facere debitis consequatur harum impedit est distinctio?</p>
  </div>
</aside>
