
<main>
  <header>
      <div>
          <h1><span class="rust-cog"></span><br/>{{ .Site.Params.title }}</h1>
      </div>
  </header>

  <section class="news">
      <h1>news</h1>
      <div class="thumbnail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti veniam possimus nemo repellat, ex neque et nesciunt vero labore id quam quas repellendus odio error reiciendis officiis? Dolore, deserunt temporibus.</div>
      <div class="thumbnail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum esse aliquam magnam inventore maiores quasi dolore perspiciatis et, laudantium sint labore nostrum quod dolorem blanditiis fugit at amet! Commodi, fuga!</div>
      <div class="thumbnail">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quo explicabo repellendus voluptatibus quidem excepturi odio eum quod ullam atque tenetur velit a cumque in aspernatur corporis, aperiam quibusdam architecto.</div>
  </section>
  <section class="blog">
      <h1>blog</h1>
      <div class="thumbnail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti veniam possimus nemo repellat, ex neque et nesciunt vero labore id quam quas repellendus odio error reiciendis officiis? Dolore, deserunt temporibus.</div>
      <div class="thumbnail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum esse aliquam magnam inventore maiores quasi dolore perspiciatis et, laudantium sint labore nostrum quod dolorem blanditiis fugit at amet! Commodi, fuga!</div>
      <div class="thumbnail">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quo explicabo repellendus voluptatibus quidem excepturi odio eum quod ullam atque tenetur velit a cumque in aspernatur corporis, aperiam quibusdam architecto.</div>
  </section>
  <section class="knowledge-base">
      <h1>knowledge base</h1>
      <div class="thumbnail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti veniam possimus nemo repellat, ex neque et nesciunt vero labore id quam quas repellendus odio error reiciendis officiis? Dolore, deserunt temporibus.</div>
      <div class="thumbnail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum esse aliquam magnam inventore maiores quasi dolore perspiciatis et, laudantium sint labore nostrum quod dolorem blanditiis fugit at amet! Commodi, fuga!</div>
      <div class="thumbnail">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quo explicabo repellendus voluptatibus quidem excepturi odio eum quod ullam atque tenetur velit a cumque in aspernatur corporis, aperiam quibusdam architecto.</div>
  </section>
</main>
