
<main class="home-page">
  <header>
      <div>
          <h1><span class="rust-cog"></span><br/>{{ .Site.Params.title }}</h1>
      </div>
  </header>

  <section class="news">
      <h1>news</h1>
      {{ partial "home/front-page-summary.html" (dict "context" . "section" "news") }}
  </section>
  <section class="blog">
      <h1>blog</h1>
      {{ partial "home/front-page-summary.html" (dict "context" . "section" "blog") }}
  </section>
  <section class="knowledge-base">
      <h1>knowledge base</h1>
      {{ partial "home/knowledge-base-section.html" . }}
  </section>
</main>
