
{{ partial "header/header.html" . }}

<main class="list">
    <h1>{{ .Title }}</h1>
    <p class="summary">{{ .Summary }}</p>
    <section>
        {{ .Content }}
    </section>

    <ul>
    {{ range .Paginator.Pages }}

      <li class="list-entry">
        <a href="{{.Permalink}}">
          <span class="date">{{.Date.Format (print .Site.Params.dateformat)}}</span>
          <span class="title">{{.Title}}</span>
          <span class="summary">{{.Summary}}</span>
        </a>
      </li>

    {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}

</main>
{{ partial "aside.html" . }}

{{ partial "footer/footer.html" . }}
